@import '_header';

// =========================================

#look{
    background: #F5F5F5;

    .box{
        height: 60px;
    }

    h1{
        width: 238px;
        height: 126px;
        top: 140px;
        margin:0px 601px 0 551px;
        font-family: Mulish;
        font-weight: 900;
        font-size: 100px;
        line-height: 125.5px;
        text-align: center;
        color: #353535;
        font-style: normal;
    }

    h4{
        width: 292px;
        height: 20px;
        top: 266px;
        margin-left: 524px;
        font-family: Mulish;
        font-weight: 700;
        font-size: 16px;
        line-height: 20.08px;
        text-align: center;
        color: #CCCCCC;
        font-style: normal;
    }

    p{
        width: 510px;
        height: 28px;
        top: 286px;
        margin-left: 410px;
        font-family: Mulish;
        font-weight: 500;
        font-size: 13px;
        line-height: 28px;
        text-align: center;
        color: #CCCCCC;
        font-style: normal;
    }

    img{
        width: 540px;
        height: 299px;
        top: 346px;
        margin: 32px 450px 0 415px;
    }

    // .return{
    //     width: 183px;
    //     height: 24px;
    //     // top: 671px;  
    //     margin-left: 608px;
    //     margin-top: 26px;
    //     border: 1px solid red;


        .error-line{
            width: 20px;
            height: 20px;
            // top: 693px;
            color: #F5C74D;
            border: 1px solid red;
            margin-top: 26px;
            margin-right: 0;
        }

        .eng{
            border: 1px solid red;
            width: 143px;
            height: 24px;
            // top: 671px;
            margin-left: 10px;  
            margin-top: 26px;
            font-family: Mulish;
            font-weight: 700;
            font-size: 15px;
            line-height: 24px;
            color: #000000;

        }
    // }
}